<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baji.dom.mapper.EporralRoleMapper">

    <resultMap id="BaseResultMap" type="com.baji.dom.entity.EporralRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
            <result property="modifiedDate" column="modified_date" jdbcType="TIMESTAMP"/>
            <result property="modifiedUser" column="modified_user" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_code,role_name,
        created_date,created_user,modified_date,
        modified_user,is_delete
    </sql>
</mapper>
